body {
    counter-reset: section;
    }

.Parent {
    counter-reset: subsection;
}

.Child {
    counter-reset: innersubsection;
}

.Parent::before {
    counter-increment: section;
    content: counter(section) ".";
}

.Parent .Child::before {
    padding: 30px;
    counter-increment: subsection;
    content: counter(section) "." counter(subsection) " ";
}

.Parent .Child .SubChild::before {
    padding: 70px;
    counter-increment: innersubsection;
    content: counter(section) "." counter(subsection) "." counter(innersubsection)" ";
}
